<!-- Header -->
<div class="relative md:pt-32 pb-32 pt-12 bg-red-600">
  <!-- <div class="px-4 md:px-10 mx-auto w-full"> -->
  <div class="px-4 md:px-10 mx-auto w-full">
    <div>
      <!-- Card stats -->
      <div class="flex flex-wrap">
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <app-card-stats
            statSubtitle="Total Sales"
            statTitle="350,897"
            statArrow="up"
            statPercent="3.48"
            statPercentColor="text-green-500"
            statDescripiron="Since last month"
            statIconName="far fa-chart-bar"
            statIconColor="bg-red-500"
          ></app-card-stats>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <app-card-stats
            statSubtitle="Total Items"
            statTitle="2,356"
            statArrow="down"
            statPercent="3.48"
            statPercentColor="text-red-500"
            statDescripiron="Since last week"
            statIconName="fas fa-cubes"
            statIconColor="bg-orange-500"
          ></app-card-stats>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <app-card-stats
            statSubtitle="Total Customers"
            statTitle="924"
            statArrow="down"
            statPercent="1.10"
            statPercentColor="text-orange-500"
            statDescripiron="Since yesterday"
            statIconName="fas fa-users"
            statIconColor="bg-pink-500"
          ></app-card-stats>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <app-card-stats
            statSubtitle="Total Suppliers"
            statTitle="20"
            statArrow="up"
            statPercent="12"
            statPercentColor="text-green-500"
            statDescripiron="Since last month"
            statIconName="fas fa-user-tie"
            statIconColor="bg-green-500"
          ></app-card-stats>
        </div>
      </div>
    </div>
  </div>
</div>
