<div
  class="relative flex flex-col min-w-0 break-words w-full mb-6 bg-transparent"
>
  <div
    class="w-full overflow-x-auto rounded flex space-x-4 justify-center mb-6"
  >
    <button class="btn-warning" type="button">Suspend Sale</button>
    <button class="btn-danger" type="button">Cancel Sale</button>
  </div>
  <div
    class="w-full overflow-x-auto rounded flex space-x-4 justify-center shadow-lg bg-white"
  >
    <input
      type="text"
      placeholder="Enter customer name"
      class="px-3 py-3 w-full input"
    />
  </div>
</div>
