<div
  class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-white"
>
  <div class="w-full flex justify-between px-6 py-4 text-sm">
    <span>Sales Person</span>
    <span>Aziq Azhar</span>
  </div>
  <div class="w-full flex justify-between px-6 py-4 text-sm">
    <span>Total</span>
    <span>RM {{ total }}</span>
  </div>
  <!-- <div class="w-full flex justify-between px-6 py-4 text-sm">
    <span>Amount Due</span>
    <span>0</span>
  </div> -->
  <div class="w-full flex justify-end p-2">
    <button class="btn-primary" type="button">Complete Sale</button>
  </div>
</div>
